{% extends 'main/base.html' %}

{% block title %}
Register new car
{% endblock %}


{% block content %}
<form class="form-group" method="post">
    {% csrf_token %}
    <label for="code"></label>
    {{ form.code }}
    <label for="number"></label>
    {{ form.number }}
    <label for="postfix"></label>
    {{ form.postfix }}
    <label for="type"></label>
    {{ form.type }}
    <label for="model"></label>
    {{ form.model }}
    <label for="color"></label>
    {{ form.color }}
    <label for="status"></label>
    {{ form.status }}
    <button type="submit">Register</button>
</form>
{% endblock %}