<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All registered cars</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css"
          integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
</head>
<body>
<header class="p3 bg-black text-white">
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Cars Registration System</span>
            </a>
            <ul class="nav nav-pills">
            </ul>
        </header>
    </div>
</header>


<div class="container">
    {% block content %}{% endblock %}
</div>

{% block content1 %}{% endblock %}


<hr>
<hr>
<hr>
<hr>
<hr>
<hr>
<footer class="p-3 bg-secondary text-white">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li><a href="{% url 'index' %}" class="btn btn-primary"><b>Main Page</b></a></li>
    </ul>
    <p class="text-center text-white"></p>
</footer>
<hr>
<div class="navbar navbar-expand-lg navbar-dark bg-dark footer">Hevod-Providers &#169; 2021 All rights reserved.</div>


</body>
</html>