{% extends 'main/base.html' %}


{% block title %}
Edit
{% endblock %}

{% block content %}
<form class="form-group" method="post" autocomplete="off">
    {% csrf_token %}
    <label for="type"><b>brand</b></label>
    {{ form.type }}
    <label for="model"><b>model</b></label>
    {{ form.model }}
    <label for="color"><b>color</b></label>
    {{ form.color }}
    <label for="status"><b>status</b></label>
    {{ form.status }}
    <button type="submit">Edit</button>
</form>
{% endblock %}
