{% extends 'main/base.html' %}
{% block title %}
BOOKS
{% endblock %}
{% block content %}

<a class="btn btn-success" href="{% url 'add' %}">Add new registration</a>
{% if cars %}
<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Code</th>
        <th scope="col">Number</th>
        <th scope="col">Postfix</th>
        <th scope="col">Registration date</th>
        <th scope="col">Car model</th>
        <th scope="col">Car type</th>
        <th scope="col">Color</th>
        <th scope="col">status</th>
    </tr>
    </thead>
    <tbody>
    {% for el in cars %}
    <tr>
        <td>{{el.code}}</td>
        <td>{{el.number}}</td>
        <td>{{el.postfix}}</td>
        <td>{{el.registrationDate}}</td>
        <td>{{el.model}}</td>
        <td>{{el.type}}</td>
        <td>{{el.color}}</td>
        <td>{{el.status}}</td>
        <td><a class="btn btn-primary" type="button" href="edit/{{el.code}}/{{el.number}}/{{el.postfix}}">EDIT</a></td>
        <td><a class="btn btn-danger" type="button" href="delete/{{el.code}}/{{el.number}}/{{el.postfix}}">DELETE</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<b><p>No registered cars yet</p></b>
{% endif %}
{% endblock %}
