<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Car info</title>

</head>
<body>
<a href="{% url 'index' %}">Go Home!</a>
{% block content %}
{% if cars %}
<table class="table table-striped">
    <tr>
        <th>Code</th>
        <th>Number</th>
        <th>Postfix</th>
        <th>Registration date</th>
        <th>Car model</th>
        <th>Car type</th>
        <th>Color</th>
        <th>status</th>
    </tr>
    {% for el in cars %}
    <tr>
        <td>{{el.code}}</td>
        <td>{{el.number}}</td>
        <td>{{el.postfix}}</td>
        <td>{{el.registrationDate}}</td>
        <td>{{el.model}}</td>
        <td>{{el.type}}</td>
        <td>{{el.color}}</td>
        <td>{{el.status}}</td>
        <td><a class="btn btn-primary" type="button" href="/edit/{{el.code}}/{{el.number}}/{{el.postfix}}">EDIT</a></td>
        <td><a class="btn btn-danger" type="button" href="/delete/{{el.code}}/{{el.number}}/{{el.postfix}}">DELETE</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No Car with such identifiers</p>
{% endif %}
{% endblock %}
</body>
</html>